<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.thuray.geniuslens.server.mapper.ClothMapper">
    <select id="selectList" resultType="xyz.thuray.geniuslens.server.data.po.ClothPO">
        SELECT * FROM cloth
    </select>
</mapper>