<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.thuray.geniuslens.server.mapper.UserMapper">
    <insert
            id="insert"
            parameterType="xyz.thuray.geniuslens.server.data.po.UserPO"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">
        INSERT INTO "user" (uid, phone, nickname, avatar, quote, created_by, updated_by)
        VALUES (#{uid}, #{phone}, #{nickname}, #{avatar}, #{quote}, #{createdBy}, #{updatedBy})
    </insert>
    <select id="selectById" resultType="xyz.thuray.geniuslens.server.data.po.UserPO">
        SELECT *
        FROM "user"
        WHERE id = #{id}
    </select>
</mapper>